.p-datepicker-overlay-enter {
  animation: p-datepicker-overlay-enter var(--p-datepicker-enter-options, .12s cubic-bezier(0, 0, 0.2, 1)) both;
}

.p-datepicker-overlay-leave {
  animation: p-datepicker-overlay-leave var(--p-datepicker-leave-options, .1s linear) both;
}

.p-datepicker-overlay-enter-touch {
  animation: p-datepicker-overlay-enter-touch var(--p-datepicker-enter-options, .12s cubic-bezier(0, 0, 0.2, 1)) both;
}

.p-datepicker-overlay-leave-touch {
  animation: p-datepicker-overlay-leave-touch var(--p-datepicker-leave-options, .1s linear) both;
}

@keyframes p-datepicker-overlay-enter {
  from {
    opacity: 0;
    transform: translateY(5%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes p-datepicker-overlay-leave {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(5%);
  }
}

@keyframes p-datepicker-overlay-enter-touch {
  from {
    opacity: 0;
    transform: translate3d(-50%, -40%, 0) scale(0.9);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes p-datepicker-overlay-leave-touch {
  from {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  to {
    opacity: 0;
    transform: translate3d(-50%, -40%, 0) scale(0.9);
  }
}